* 
{
    margin: 0;
}
.lister
{
    height: 300px;
}
.lista
{
    position: relative;
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.item
{
    display: inline-block;
    width: 10%;
}
.item img{
    width: 100%;
}